# .env.example
# Copie este arquivo para um novo arquivo chamado .env
# e preencha com as suas configurações reais.

# Porta em que o servidor irá rodar
PORT=3000

# Ambiente (development, production, test)
NODE_ENV=development

# String de conexão do Banco de Dados (Prisma)
# Formato: mysql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL="mysql://root:sua_senha@localhost:3306/aerocode_db"